---
import { Image } from 'astro:assets';
import SellingPoints from './SellingPoints';
---

<section class='max-w-7xl mx-4 py-16 md:mx-auto text-[#D1D9E6]'>
  <div class='flex flex-col gap-4 items-center justify-center'>
    <span
      class='text-sm text-neutral-950 font-medium bg-red-600 px-2 py-1 rounded-full'
      >Core features</span
    >
    <h2 class='text-3xl font-extralight max-w-xl text-center md:text-5xl'>
      Introducing the T-800 — an AI-powered platform for business growth
    </h2>
  </div>
  <SellingPoints client:visible />
</section>

<style>
  @media (prefers-reduced-motion: reduce) {
    .glitch-image {
      display: none;
    }
  }

  .glitch-image {
    opacity: 0;
    mix-blend-mode: hard-light;
    animation: glitch 10s infinite;
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes glitch {
      0%,
      100% {
        opacity: 0;
        transform: translateX(0);
      }
      92% {
        opacity: 0;
        transform: translateX(0);
      }
      92.2% {
        opacity: 1;
        transform: translateX(2px);
      }
      92.6% {
        opacity: 0;
        transform: translateX(-2px);
      }
      93% {
        opacity: 1;
        transform: translateX(0);
      }
      93.4% {
        opacity: 0;
        transform: translateX(2px);
      }
      94% {
        opacity: 1;
        transform: translateX(-2px);
      }
      94.4% {
        opacity: 0;
        transform: translateX(1px);
      }
      95% {
        opacity: 1;
        transform: translateX(-1px);
      }
      95.4% {
        opacity: 0;
        transform: translateX(0);
      }
      96% {
        opacity: 1;
        transform: translateX(1px);
      }
      97% {
        opacity: 0;
      }
    }
  }
</style>
