<section class='py-16 bg-red-600 px-4 text-neutral-950 md:py-28 lg:px-0'>
  <div
    class='flex flex-col gap-4 items-center justify-center max-w-2xl mx-auto md:gap-6'
  >
    <span
      class='text-sm font-medium bg-white/50 px-2 py-1 rounded-full text-neutral-950'
      >Get started</span
    >
    <h2 class='text-4xl text-center font-extralight md:text-5xl lg:text-6xl'>
      The last strategic decision you'll ever need to make
    </h2>
    <button
      class='py-3 px-4 bg-neutral-950 text-[#D1D9E6] rounded-full cursor-pointer text-sm'
    >
      Request a demo
    </button>
  </div>
</section>
