<section class='py-16 px-4 bg-[#D1D9E6] text-neutral-950 md:py-20 lg:px-0'>
  <div
    class='flex flex-col gap-6 items-center justify-center max-w-2xl mx-auto md:gap-6'
  >
    <span
      class='text-sm font-medium bg-red-600 px-2 py-1 rounded-full text-[#D1D9E6] select-none'
      >Get started</span
    >
    <h2 class='text-4xl text-center font-extralight md:text-5xl lg:text-6xl'>
      The last strategic decision you'll ever need to make
    </h2>
    <button
      class='flex items-center gap-1 py-3 px-4 bg-neutral-900 text-[#D1D9E6] rounded-full cursor-pointer text-sm group font-medium transition-all duration-300 hover:bg-neutral-800'
    >
      Request a demo
    </button>
  </div>
</section>

<style>
  .red-pulse {
    box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.8);
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0.7;
      box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.8);
    }
    50% {
      opacity: 1;
      box-shadow: 0 0 16px 4px rgba(255, 0, 0, 1);
    }
    100% {
      opacity: 0.7;
      box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.8);
    }
  }
</style>
