<header
  class='text-center mt-20 max-w-6xl text-[#D1D9E6] mx-2 md:mx-auto 2xl:max-w-7xl'
>
  <h1
    class='text-3xl font-extrabold uppercase sm:text-4xl md:text-5xl xl:text-8xl 2xl:text-9xl'
  >
    The Most Aggressive AI Automation Platform. Ever.
  </h1>
  <p class='text-lg my-20 font-medium sm:text-xl sm:my-28 md:text-2xl'>
    Come with us if you want to automate.
  </p>
</header>

<style>
  h1 {
    font-family: 'Orbitron Variable', sans-serif;
  }
</style>
