---
import HeaderChat from './HeaderChat';
---

<header
  id='header'
  class='grid grid-cols-1 my-24 gap-6 max-w-7xl text-[#D1D9E6] mx-4 md:mt-32 md:grid-cols-2 xl:mx-auto'
>
  <div class='flex flex-col gap-6 text-center md:text-left'>
    <h1
      class='text-3xl max-w-md mx-auto font-medium md:mx-0 lg:text-4xl lg:max-w-xl xl:text-5xl'
    >
      The world's most aggressive AI automation platform. Ever.
    </h1>
    <p class='font-light text-gray-400 md:text-lg xl:text-xl'>
      Come with us if you want to win.
    </p>
  </div>
  <div class='mt-6 md:mt-0'>
    <HeaderChat client:visible />
  </div>
</header>

<script>
  import { isHeaderVisible } from '../stores/headerStore';

  const header = document.querySelector('#header');

  const observer = new IntersectionObserver(
    ([entry]) => {
      isHeaderVisible.set(entry.isIntersecting);
    },
    { threshold: 0 }
  );

  if (header) {
    observer.observe(header);
  }
</script>
