---
import HeaderChat from './HeaderChat';
---

<header
  class='grid grid-cols-1 mt-32 max-w-7xl text-[#D1D9E6] mx-2 sm:grid-cols-2 md:mx-auto'
>
  <div class='flex flex-col gap-8'>
    <h1 class='text-3xl font-medium max-w-xl sm:text-6xl'>
      The world's most aggressive AI automation platform. Ever.
    </h1>
    <p class='text-lg font-light text-gray-400'>
      Come with us if you want to automate.
    </p>
  </div>
  <div>
    <HeaderChat client:load />
  </div>
</header>
