<header
  class='text-center mt-20 max-w-6xl mx-auto text-[#D1D9E6] 2xl:max-w-7xl'
>
  <h1 class='text-8xl font-extrabold uppercase 2xl:text-9xl'>
    The Most Aggressive AI Automation Platform. Ever.
  </h1>
  <p class='text-xl my-28 font-medium'>Come with us if you want to automate.</p>
</header>

<style>
  h1 {
    font-family: 'Orbitron Variable', sans-serif;
  }
</style>
