---
import DemoRequestModal from '../components/DemoRequestModal';
import '../styles/global.css';
// Supports weights 100-900
import '@fontsource-variable/geist';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>Skynet Solutions</title>
    <meta
      name='description'
      content="The world's most aggressive AI automation platform. Ever."
    />

    <!-- Facebook Meta Tags -->
    <meta
      property='og:url'
      content='https://skynet-solutions-beta.vercel.app/'
    />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Skynet Solutions' />
    <meta
      property='og:description'
      content="The world's most aggressive AI automation platform. Ever."
    />
    <meta property='og:image' content='/banner.jpg' />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta
      property='twitter:domain'
      content='skynet-solutions-beta.vercel.app'
    />
    <meta
      property='twitter:url'
      content='https://skynet-solutions-beta.vercel.app/'
    />
    <meta name='twitter:title' content='Skynet Solutions' />
    <meta
      name='twitter:description'
      content="The world's most aggressive AI automation platform. Ever."
    />
    <meta name='twitter:image' content='/banner.jpg' />
  </head>
  <body class='bg-neutral-950 text-neutral-50'>
    <slot />
    <DemoRequestModal client:load />
  </body>
</html>

<style>
  body {
    font-family: 'Geist Variable', sans-serif;
  }
</style>
