---
import '../styles/global.css';
// Supports weights 100-900
import '@fontsource-variable/geist';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Skynet Solutions</title>
  </head>
  <body class='bg-neutral-950 text-neutral-50'>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: 'Geist Variable', sans-serif;
  }
</style>
